body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message>p {
  font-size: 1.3em;
}
.tagline {
  display: flex;
  justify-content: space-between;
}